PGHOST=
PGPASSWORD=
UCR_PRD_PASSWORD=
UCR_READ_ONLY_PRD_PASSWORD=
NIBRS_ANALYST_PASSWORD=
DOWNLOADED_ON='2025-05-01'
PGPORT=5432
PGUSER=postgres
PGDBNAME=postgres
EXISTING_PGDATABASE=postgres
IMPORT_PGDATABASE=ucr_prd
DATADIR=./data
BASEPATH=./

